#login_form {
    margin-top: 25px
}

.register-form{
    max-width: 700px
}

.header{
    text-align: center
}

#search-div{
    margin-left: 15%
}

.right{
    margin-left: 30%
}

.right-adjusted{
    margin-left: 50%
}

.right-adjusted-signup{
    margin-left: 66%
}

.center-text{
    text-align: center
}

.index-body{
    background-color: #FF7F50
}